h3 {
    color: #36a3d1;
    font-weight: bolder;
}

.dropdown_menu {
    position: absolute;
    top: 70px;
    left: 0px;
    z-index: 2;
    height: 115px;
    overflow: auto;
    ul {
        list-style: none;
        text-align: left;
        margin-top: 5px;
        padding: 5px;

        li {
            margin: 0 0 10px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.selection {
    margin-top: 3rem;
    text-align: center;

    .form-group {
        color: #36a3d1;

        input {
            border-radius: 30px;
            border-color: #c4dfe8;
        }
    }

    .dropdown {
        button {
            border-radius: 30px;
            color: white;
            background-color: #36a3d1;
            border-color: #c4dfe8;
            padding-left: 50px;
            padding-right: 50px;
        }

        .dropdown-menu {
            padding: 15px;
            border-radius: 20px;
            border-color: #c4dfe8;
            transform: translate3d(-12px, 35px, 0px) !important;

            .services {
                height: 90px;
                overflow: auto;
                padding: 10px;
                color: #36a3d1;
            }

            .numbers {
                height: 90px;
                color: #36a3d1;

                input {
                    border-style: none;
                    color: #36a3d1;
                    padding: 5px;
                }
            }
        }
    }
}

.found {
    margin-top: 7rem;
    .card {
        border-color: #c4dfe8;
        border-radius: 40px;
        height: 500px;

        .row {
            padding: 20px;

            img {
                object-fit: cover;
                height: 100%;
                border-radius: 30px;
                filter: drop-shadow(2px 4px 6px #36a3d1);
            }

            .card-body {
                .card-title {
                    color: #36a3d1;
                    margin-bottom: 1rem;
                    height: 40px;
                    filter: drop-shadow(2px 4px 6px);
                }

                .card-text {
                    color: #a7d8e9;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    text-align: justify;
                }

                #clear {
                    color: #a7d8e9;
                }

                p {
                    color: #36a3d1;
                }
            }
        }

        a {
            border-color: #c4dfe8;
            color: #36a3d1;
            border-radius: 30px;
        }

        a:hover {
            color: white;
            background-color: #36a3d1;
        }
    }
}
