.mail{

    h1{
        font-weight: bolder;
        text-align: center;
        color:#36A3D1;

    }

    p{
        font-size:15px;
        font-style: italic;
        text-align: center;
        color:#a7d4e4;
    }

    .table {
        .thead-inverse{
        
            tr{
                th{
                    font-size: 15px;
                    font-weight: bolder;
                    color:#36A3D1;
                    border-top: 2px solid #a7d4e4;
                    border-bottom: 2px solid #a7d4e4;;
                }
            }
        }

        tbody{
            tr{
                td{
                    padding: 10px;
                    vertical-align:0%;
                    border-style: none;
                    color:#48879e;
                    font-style: italic;


                    a{
                        font-size:25px;
                        color:#48879e;
                    }

                    button{
                        font-size:25px;
                        color:#48879e;
                    }


                    .close .confirm {
                        font-size:10px;
                        color:#48879e;
                    }
                }
            }
        }

        tbody:hover{

            background-color: #a7d4e4;
            td{
                color:white;
            }

            #bot{
                color:#48879e;

                a{
                    color:rgb(63, 64, 65);
                }

                button{
                    color:rgb(63, 64, 65);
                }
            }

        }
    }

}
